{
  "extends": [
    "colinrobertbrooks",
    "colinrobertbrooks/typescript",
    "colinrobertbrooks/jest",
    "colinrobertbrooks/prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["@testing-library/jest-dom"]
      }
    ]
  }
}
