{
  "extends": "colinrcummings",
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["jest-dom/extend-expect", "@testing-library/react/cleanup-after-each"]
      }
    ]
  }
}
