{
  "extends": "colinrcummings",
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["@testing-library/jest-dom/extend-expect", "@testing-library/react"]
      }
    ]
  }
}
