{
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "max-classes-per-file": "off",
    "no-shadow": "off",
    "react/no-access-state-in-setstate": "off",
    "react/prop-types": "off",
    "react/state-in-constructor": "off"
  }
}
